* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(22, 19, 49);
  height: 100vh;
  gap: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 1em;
}

header h1 {
  color: rgb(255, 255, 255);
}

aside h3 {
  font-size: 2.5rem;
}

aside > * {
  margin-bottom: 1.5rem;
}

aside button {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border-width: 0;
  background-color: rgb(33, 185, 255);
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
}

aside button:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 68, 255, 1);
}

.projects-list > li {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  list-style-type: none;
  cursor: pointer;
}

.project-wrapper {
  display: none;
  background-color: rgb(255, 255, 255);
  height: 90vh;
  width: 70vw;
  border-radius: 16px;
  padding: 1.5rem;
  gap: 1.5rem;
}

.project-tasks-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.project-title {
  font-weight: 600;
  font-size: 2rem;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 8vw, 12vw);
  height: clamp(300px, 8vh, 12vh);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
