* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #161331;
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ececec;
  padding: 1em;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 1em;
}

header h1 {
  color: #ffffff;
}

aside h3,
header h1 {
  font-size: clamp(1.3rem, 1.6rem, 1.9rem);
}

#new-project-button {
  font-weight: 600;
  font-size: clamp(1rem, 1.3rem, 1.5rem);
  padding: 0.3rem;
  border-radius: 8px;
  border-width: 0;
  background-color: #21b9ff;
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
}

#new-project-button:hover {
  box-shadow: 5px 5px 10px 0px #0044ff;
}

#projects-names {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#projects-names > li {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 600;
  font-size: clamp(1rem, 1.3rem, 1.5rem);
  list-style-type: none;
  cursor: pointer;
  align-items: center;
}

#projects-names > li > p {
  flex: 1;
  text-align: center;
}

.delete-button {
  font-weight: 600;
  font-size: clamp(0.5rem, 0.7rem, 0.8rem);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
  border-width: 0;
  background-color: #ca3e3e;
  box-shadow: 2px 2px 3px 0px #000000;
}

.delete-button:hover {
  box-shadow: 3px 3px 4px 0px #ff3838;
}

#project-wrapper {
  display: grid;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1.5rem;
  min-width: 65vw;
  margin: 1rem;
}

#project-tasks-wrapper {
  flex: 1;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  place-items: center;
}

#project-title {
  font-weight: 600;
  font-size: clamp(1rem, 1.5rem, 2rem);
  justify-self: center;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(150px, 170px, 200px);
  height: 20vh;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 2px 2px 5px 0px #000000;
}
