* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(22, 19, 49);
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 1em;
}

header h1 {
  color: rgb(255, 255, 255);
}

aside h3,
header h1 {
  font-size: clamp(1.3rem, 1.6rem, 1.9rem);
}

aside > * {
  margin-bottom: 1.5rem;
}

aside button {
  font-weight: 600;
  font-size: clamp(1rem, 1.3rem, 1.5rem);
  padding: 0.5rem;
  border-radius: 8px;
  border-width: 0;
  background-color: rgb(33, 185, 255);
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
}

aside button:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 68, 255, 1);
}

#projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-list > li {
  font-weight: 600;
  font-size: clamp(1rem, 1.3rem, 1.5rem);
  margin-bottom: 1rem;
  list-style-type: none;
  cursor: pointer;
}

.project-wrapper {
  display: none;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 1.5rem;
  min-width: 65vw;
  margin: 1rem;
}

.project-tasks-wrapper {
  flex: 1;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  place-items: center;
}

.project-title {
  font-weight: 600;
  font-size: clamp(1rem, 1.5rem, 2rem);
  justify-self: center;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(150px, 170px, 200px);
  height: 20vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
}

.active {
  display: grid;
  align-items: center;
}
